
html {
    font-size: 16px;
}

body {
    background-color: rgba(63, 191, 127, 0.79);
}

.list-menu {
    width: 100%;
    background-color:  rgba(63, 191, 127, 0.79);
    height: auto;
    display: block;
    padding: 1rem 0;

    ul {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin: 0 auto;
        min-height: 3rem;
        align-items: center;
        
        li {
            text-transform: capitalize;
            padding: 0.5rem;
            width: 100%;
            text-align: center;
            border-radius: 20px;

            &:hover {
                background-color:#BF3F3F;
                color: white;
            }
        }
    }
}


.icon-menu {
    z-index: 20;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

#menu-toogle {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    .section {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-1, #section-2 {
        width: 50%;
        background-color: #BF3F7F;
    }
    #section-2 {
        background-color: #3F7FBF;
    }
    #section-3 {
        width: 100%;
        background-color: #BF3FBF;
    }
}


footer {
    height: 20vh;
}

#menu-toogle:checked + #list-menu {
    display: flex;
    justify-content: center;
    z-index: 10;
}


//Media queries
@media screen and (max-width: 600px) {

    .icon-menu {
       display: block;
    }

    .list-menu {
        display: none;
        padding: 0;

        ul {
            flex-direction: column;
            width: 100%;
            
            li {
                border-radius: 0;
            }
        }
    }
}
