.description {
    @extend %basic-flex;
    min-height: 100vh;
    height: auto;

    div {
        width: 50%;
        @extend %basic-flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }
    }

    .text-description {
        justify-content: space-between;
        align-items: flex-start;
        
        h2, p {
            padding-bottom: 3rem;
            padding-right: 3rem;
        }
    }
}

.img-description {
    height: 50vh;
    img {
        width: 80%;
    }
}


/*  Media queries */
@media screen and (max-width: 900px) {
    
    .description {
        display: block;

        div {
            //text-align: center;
            width: 90%;
            margin: 0 auto;

            h2 {
                text-align: center;
            }
        }

        .text-description{
            padding-top: 3rem;
            align-items: center;

            h2 {
                display: none;
            }
            p {
                padding-right: 0;
                text-align: center;
            }
        }

        .img-description {
            
            height: 50vh;
            img {
                width: 50%;
            }
        }
    }
}

