* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    font-family: 'Inconsolata', monospace;
}

h1 {
    color: $text-title-primary;
    font-size: $font-size-title;
}

h2 {
    color: $text-title-secondary;
    font-size: $font-size-subtitle;
}

p {
    font-size: $font-size-normal-text;
}

.section {
    min-height: 60vh;
    height: auto;
    text-align: center;
    @extend %basic-flex;
    flex-direction: column;

    h2, p {
        padding-bottom: 3rem;
        padding-right: 3rem;
    }
}