$bg-color: #DDA2FD;
$text-title-primary: #E83D2C;
$text-title-secondary: #FFB83D;
$font-size-title: 4rem;
$font-size-subtitle: 3rem;
$font-size-normal-text: 1.3rem;

// responsive
$font-size-title-rwa: 2.5rem;
$font-size-subtitle-rwa: 1.8rem;
$font-size-normal-text-rwa: 1rem;


%basic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bg-color($color: red) {
   background-color: $color;
}



