.section, .description, .description div, .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DDA2FD;
  font-family: 'Inconsolata', monospace;
}

h1 {
  color: #E83D2C;
  font-size: 4rem;
}

h2 {
  color: #FFB83D;
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
}

.section {
  min-height: 60vh;
  height: auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section h2, .section p {
  padding-bottom: 3rem;
  padding-right: 3rem;
}

/*  Media queries */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
  .section {
    min-height: 40vh;
  }
}

.description {
  min-height: 100vh;
  height: auto;
}

.description div {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description div h1 {
  text-align: center;
}

.description .text-description {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description .text-description h2, .description .text-description p {
  padding-bottom: 3rem;
  padding-right: 3rem;
}

.img-description {
  height: 50vh;
}

.img-description img {
  width: 80%;
}

/*  Media queries */
@media screen and (max-width: 900px) {
  .description {
    display: block;
  }
  .description div {
    width: 90%;
    margin: 0 auto;
  }
  .description div h2 {
    text-align: center;
  }
  .description .text-description {
    padding-top: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description .text-description h2 {
    display: none;
  }
  .description .text-description p {
    padding-right: 0;
    text-align: center;
  }
  .description .img-description {
    height: 50vh;
  }
  .description .img-description img {
    width: 50%;
  }
}

.technologies, .contact-form {
  border: 1px solid blue;
  background-color: #E83D2C;
  padding: 3rem;
}

.contact-form form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  width: 100vw;
}

.contact-form form input, .contact-form form select, .contact-form form textarea {
  width: 50%;
  height: 2rem;
  margin: 1rem 0 2rem 0;
  font-size: 1.3rem;
  background-color: white;
}

.contact-form form input[type=submit] {
  border-radius: 1rem;
  border-color: white;
}

/*  Media queries */
@media screen and (max-width: 900px) {
  .contact-form form input, .contact-form form select, .contact-form form textarea {
    width: 80%;
  }
}
/*# sourceMappingURL=index.css.map */